:root{
    --color-primary: #272343;
    --container-padding: 10px 80px;
    --color-primary-transparent: #27234375;
}

body{
    margin: 0;
}

.landing-page{
    height: 100vh;
    background-color: #bae8e8;
    padding: var(--container-padding);
    padding-bottom: 0px;
} 

header{
    display: flex;
    justify-content: space-between;
    /* to align the header set to baseline */
    align-items: baseline;
    /* to pull the line under the header */
    border-bottom: 2px solid var(--color-primary);
}

h1 {
    margin-top: 0;
    color: var(--color-primary);
}

nav ul{
    /* to remove bullet */
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
}

.link-special{
    background-color: var(--color-primary);
    color: #ffffff;
    border-radius: 10px;
}


#main-title{
    font-size: 70px;
    width: 500px;
    color: var(--color-primary);
}

.king{
    padding: var(--container-padding);
}

.king h3{
    text-decoration: underline;
    font-weight: normal;
}
.king ul{
    padding: 0;
    list-style-position: inside;
}
 .king li{
    margin: 10px 0;
 }

 .clear{
    background-color: var(--color-primary);
    display: flex;
    padding: var(--container-padding);
    /* justify-content: space-between; */
    color: #ffffff;
    gap: 100px;


 }
 .clear div{
    color: #ffffff;
    margin: 20px 0;

 }

 .clear-rate {
    padding: var(--container-padding);
    display: flex;
    align-items: center;
    flex-direction: column;

 }

#business{
    width: 100%;
    border-collapse: collapse;
}

.clear-rate h3{
display: flex;
justify-content: center;
padding: var(--container-padding);
color: var(--color-primary);
}

th, td{
    border: 1px solid #ddd;
    padding: 10px;
    border-left: none;
    border-right: none;
}

td{
    background-color: rgb(240, 240, 240);
}

th{
    text-align: left;
    background-color: #ddd;
}

.final{
    background-color: var(--color-primary);
    margin-top: 20px;
}

.final div{
    color: #ffffff;
    padding: var(--container-padding);
}

tbody tr:last-child td{
    border-bottom: none;
}

.classless{
    border-radius: 10px;
    overflow: hidden;
    width: 85%;
}
header button{
    padding: 5px 10px;
    background-color: var(--color-primary-transparent);
    color: var(--color-primary);
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 20px;
    display: none;
    
}
@media only screen and (max-width: 750px) {
    nav{
        display: none;
    }

    header button{
        display: inline-block;
    }

}